body{
    margin:0;
  }
  
  #background{
    display:block;
    position:fixed;
    width:100%;
    height:100%;
    background-color: #0A192F;
    background: -webkit-radial-gradient(center, ellipse cover, #0A192F 1%,#0d0011 100%);
    background: -moz-radial-gradient(center, ellipse cover, #0A192F 1%,#0d0011 100%);
    background: -ie-radial-gradient(center, ellipse cover, #0A192F 1%,#0d0011 100%);
  }
  
  #logocontainer{
    display:block;
    position:fixed;
    top:50%;
    left:50%;
    width:19vh;
    height:19vh;
    margin-left:-10vh;
    margin-top:-10vh;
    overflow:hidden;
    transition:background-color 500ms;
    cursor:pointer;
  }
  
  #pelogo{
    display: block;
    position: absolute;
    left: 2vh;
    top: 2vh;
    width: 15vh;
    height: 15vh;
    background: #34324b;
    background: -moz-linear-gradient(-45deg, #34324b 0%, #161222 100%);
    background: -webkit-linear-gradient(-45deg, #34324b 0%,#161222 100%);
    background: linear-gradient(135deg, #34324b 0%,#161222 100%);
    background-size: contain;
    font-family: Trebuchet MS, sans-serif;
    font-size: 10vh;
    font-weight: 100;
    color: #50CCB3;
    text-align: center;
    line-height: 15vh;
  }
  
  .loader{
    display:block;
    position:absolute;
    background-color:#50CCB3;
  }
  
  /*Pretty complex animation, so each side needs its own @keyframes.*/
  
  @keyframes slide1{
    50%{width:20vh; margin-left:0;}
    100%{margin-left:20vh;}
  }
  
  @keyframes slide2{
    50%{height:20vh; margin-top:0;}
    100%{margin-top:20vh;}
  }
  
  @keyframes slide3{
    50%{width:20vh; margin-right:0vh;}
    100%{margin-right:20vh;}
  }
  
  @keyframes slide4{
    50%{height:20vh; margin-bottom:0}
    100%{margin-bottom:20vh;}
  }