#portfolio {
    padding-top: 6rem;
}

.portfolio-head {
    text-align: center;
    margin-bottom: 3rem;
}

.portfolio-head>h1 {
    color: var(--color-text-main);
    font-size: 2rem;
}

.portfolio-head>h4 {
    color: var(--color-text);
    font-weight: 400;
}

.portfolio-area{
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /* overflow: hidden; */
    flex-direction: column;
    gap: 30px;
}
.portfolio-item{
    width: 100%;
    display: flex;
    gap: 2rem;
    border: 2px solid rgb(170, 169, 169);
    border-radius:10px ;
    padding: 3px;
}
.reverse{
    flex-direction: row-reverse;
}
.img-block{
    flex: 0 0 auto;
    width: 40%;
    align-self: center;
}
.portfolio-content{
    flex: 0 0 auto;
    width: 56%;
    padding: 0 2rem;
    align-self: center;
}
.portfolio-content>h4{
    color: var(--color-secondary);
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.portfolio-content>h2{
    color: var(--color-text-main);
}
.portfolio-content>h3{
    color: var(--color-text);
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1rem;
}
.portfolio-content-para>p{
    /* padding-right: 2rem; */
    margin-top: 0.5rem;
    /* word-spacing: 0.2rem; */
}

.portfolio-tools{
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 2rem 1rem 1rem;
    color: var(--color-text);
}
/*.portfolio-container{
    overflow: initial;
    max-width:768px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}
.grid{
    display: grid;
    gap: 1.5rem;
}
 .portfolio-content{
    padding: 0 1.5rem;
}
 .portfolio-img{
    width: 450px;
    justify-self: center;
    border-radius: 1rem;
}
.portfolio-data{
    margin-left: 10rem;
    margin-top: -1rem;
    margin-bottom: 3rem;
}
.portfolio-title{
    font-size: 1.6rem;
    color: var(--color-secondary);
}
.portfolio-desc{
    color: var(--color-text);
    margin-bottom: 1rem;
    font-size: 1rem;
}

.btn-icon{
    font-size: 1.25rem;
    margin-left: 0.5rem;
    transition: 0.3s;
}
.btn-flex{
    display: inline-flex;
    align-items: center;
}
.btn-icon:hover{
    transform: translateX(.25rem);
}
*/
.swiper-button-next::after,
.swiper-button-prev::after{
    content: '';
    color:#ea947f;
    font-size: 1rem;
}

.swiper-portfolio-icon{
    font-size: 5rem;
    color: var(--color-primary-var);
}
.swiper-pagination-bullet{
    background-color: var(--color-secondary);
}
.swiper-pagination-bullet-active{
    background-color: var(--color-primary-var);
} 
.portfolio-swiper{
    border-radius: 10px;
}

@media screen and (max-width: 1024px) {
    .portfolio-content>h2{
        font-size: 1.4rem;
    }
    .portfolio-content>h3{
        font-size: 1rem;
    }
    .portfolio-content-para>p{
        font-size: 0.9rem;
    }
    .portfolio-tools{
        padding: 0;
    }
}

@media screen and (max-width: 686px) {
    .portfolio-item{
        flex-direction: column;
        padding-bottom: 20px;
    }
    .img-block,
    .portfolio-content{
        width: 100%;
    }
}