#portfolio{
    padding-top: 4rem;
    height: 80vh;
}
.portfolio-head{
    text-align: center;
    margin-bottom: 3rem;
}
.portfolio-head>span{
    color: var(--color-secondary);
    font-size: 1rem;
}
.portfolio-container{
    overflow: initial;
    max-width:768px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}
.grid{
    display: grid;
    gap: 1.5rem;
}
/* .portfolio-content{
    padding: 0 1.5rem;
} */
.portfolio-img{
    width: 450px;
    justify-self: center;
    border-radius: 1rem;
}
.portfolio-data{
    margin-left: 10rem;
    margin-top: -1rem;
    margin-bottom: 3rem;
}
.portfolio-title{
    font-size: 1.6rem;
    color: var(--color-secondary);
}
.portfolio-desc{
    color: var(--color-text);
    margin-bottom: 1rem;
    font-size: 1rem;
}

.btn-icon{
    font-size: 1.25rem;
    margin-left: 0.5rem;
    transition: 0.3s;
}
.btn-flex{
    display: inline-flex;
    align-items: center;
}
.btn-icon:hover{
    transform: translateX(.25rem);
}

.swiper-button-next::after,
.swiper-button-prev::after{
    content: '';
    color:#ea947f;
}

.swiper-portfolio-icon{
    font-size: 2rem;
    color: var(--color-primary-var);
}
.swiper-pagination-bullet{
    background-color: var(--color-secondary);
}
.swiper-pagination-bullet-active{
    background-color: var(--color-primary-var);
}

@media screen and (max-width:586px) {
    #portfolio{
        padding-top: 10rem;
        margin-bottom: 0;
        
    }
    .portfolio-img{
        width:250px;
    }
    .portfolio-data{
        margin-left: 4.5rem;
    }
    .portfolio-container{
        width: 85%;
    }
}
@media screen and (min-width: 587px) {
    .portfolio-img{
        width:300px;
    }
    .portfolio-data{
        margin-left: 9rem;
    }
    .portfolio-container{
        width: 70%;
    }
} 
  
 @media screen and (min-width: 1024px) {
    .portfolio-img{
        width:450px;
    }
    .portfolio-data{
        margin-left: 10rem;
    }
    .portfolio-container{
        width: 70%;
    }
} 
  

  