#skills{
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: 3.8rem;
    margin-bottom: 3rem;
    background-color: #F6F6F6;
    border-top-left-radius:20%;
    border-bottom-right-radius:20%;
}
.skills-head{
    text-align: center;
    margin-bottom: 4rem;
}
.skills-head>h1{
    color: var(--color-text-main);
    font-size: 2rem;
}
.skills-head>h3{
    color: var(--color-text);
    font-weight: 400;
}
.skills-list{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.skills-grid{
    display: grid;
    grid-column-gap: 1rem;
  }
.skills-header{
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
    cursor: pointer;
}
.skills-icon,
.skills-arrow{
    color: var(--color-primary-var);
}
.skills-icon{
    font-size: 1.8rem;
    margin-right: 0.75rem;
}
.skills-title{
    color: var(--color-text);
    font-size: 1.5rem;
}
.skills-subtitle{
    font-size: 1rem;
    color: var(--color-secondary);
}
.skills-arrow{
    font-size: 1.2rem;
    margin-left: auto;
    transition: 0.6s;
}
.skills-list{
    row-gap: 1rem;
    padding-left: 2.7rem;
    padding-right: 1rem;
}
.skills-titles{
    color: var(--color-secondary);
    display:flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
.skills-name{
    font-size: 1.1rem;
}
.skills-bar,
.skills-percent{
    height: 4px ;
    border-radius: 0.25rem;
}
.skills-bar{
    background-color: rgb(112, 111, 111);
}
.skills-percent{
    display: block;
    background-color: var(--color-primary-var);
}
.skills-html{
    width: 90%;
}
.skills-css,
.skills-react{
    width: 60%;
}
.skills-js{
    width: 70%;
}
.skills-node{
    width: 60%;
}
.skills-express{
    width: 60%;
}
.skills-photo{
    width: 70%;
}
.skills-figma{
    width: 45%;
}
.skills-canva{
    width: 70%;
}
.skills-wordpress{
    width: 80%;
}
.skills-close .skills-list{
    height: 0;
    overflow: hidden;
}
.skills-open .skills-list{
    height: max-content;
    margin-bottom: 2.5rem;
}
.skills-open .skills-arrow{
    transform: rotate(180deg);
}

@media screen and (min-width: 390px){
    /* #skills{
        padding-top: 10rem;
    } */
    /* .skills-container{
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
    } */
  }
@media screen and (min-width: 568px){
    
    .skills-grid{
      grid-template-columns: repeat(2,1fr);
    }
  }
  
@media screen and (min-width: 768px){
    /* .skills-container{
      margin-left: auto;
      margin-right: auto;
    } */
  }
  