#about{
    padding-top: 2rem;
    padding-bottom: 3rem;
    margin-top: 0rem;
}

small{
    color: var(--color-text);
    font-size: 0.9rem;
}
.about-container{
    display: flex;
    /* gap: 15%; */
    margin-top: 5rem;
 
}

.about-me{
    width: 100%;
    height: 90%;
    overflow: hidden;
    flex: 0 0 auto;
    width: 42%;
    padding: 0 2rem;
}
.about-img{
    border-radius: 10px;
}

.about-content{
    flex: 0 0 auto;
    width:58%;
    padding: 0 2rem;    
    align-self: center;
}
.about-content>p{
    padding-right: 2rem;
    margin: 1rem 0;
    word-spacing: 0.3rem;
    letter-spacing: 0.05rem;
}
.about-content>h3{
    color:var(--color-text);
    font-weight: 400;
    margin-bottom:0.5rem;
}
.about-content>h1{
    color: var(--color-text-main);
    margin-bottom:1rem;
}
.my-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    border-top: 1px solid #eee;
    margin-top: 45px;
    padding-top: 30px;
}
.single-info span {
    color: var(--color-text-main);
    font-weight: 400;
    margin-right: 10px;
    font-weight: 600;
    font-size: 1.2em;
    min-width: 60px;
}
.single-info p {
    display: inline-block;
}
.single-info p a{
    color: var(--color-text)
}
.follow-social{
    margin-top: 3rem;
}
ul.follow-social li {
    display: inline-block;
    margin-right: 15px;
}
li {
    list-style-type: none;
}
ul.follow-social li>h5{
    color:var(--color-text-main);
    font-size: 1.2em;
}
.follow-icons{
    color: var(--color-primary);
    font-size: 1.2rem;
}
.about-btn{
    margin-top: 2rem;
}
/* .about-cards{
    display: flex;
    gap: 2rem;
}
.about-card{
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem 5rem;
    margin-bottom: 2rem;
    text-align: center;
    transition: var(--transition);
}
.about-card:hover{
    background: transparent;
    border-color: var(--color-primary-var)
}

.about-icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
} */


@media screen and (max-width: 1024px) {
    .about-container{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .about-me{
        width:50%;
        margin: 2rem auto 4rem;
    }
    .about-content p{
        margin: 1rem 0 1.5rem;
    }
}


@media screen and (max-width: 600px) {
    #about{
        margin-bottom: 5rem;
        padding-top: 2rem;
    }
    .about-container{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .about-me{
        width: 65%;
        margin: 3rem auto 3rem;
    }
    /* .about-cards{
        flex-direction: column;
        width: var(--container-width);
        margin-left: auto;
        margin-right: auto;
    }
    .about-card{
        margin-bottom: 0;
        padding: 2rem 0rem;
    } */
    .about-content{
        text-align: center;
    }
    .about-content p{
        margin:1.5rem 0;
    }
    p{
        font-size: 1rem;
    }
}