@font-face {
    font-family: 'Outline';
    src: url('../../assets/fonts/MADEOkineSansPERSONALUSE-BlackOutline.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

h1{
    color: var(--color-secondary);
    font-size: clamp(35px, 5vw, 50px);
}

#home{
    padding-top: 50px;
    background-image: url('../../assets/bgImage.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
    position: relative;
    /* box-sizing: border-box; */
}
.home-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 0;
}
.home-content{
    margin-top: auto;
    margin-bottom: auto;
    flex: 0 0 auto;
    width: 50%;
}
.home-content>h1{
    color: #fff;
    margin-bottom: 1.2rem;
}
.home-content>h3{
    color: var(--color-secondary);
    margin-bottom: 0rem;
}
.home-content>p{
    color: white;
    margin-top: 1rem;
    font-size: 1rem;
}
.home-me{
    text-align: right;
    flex: 0 0 auto;
}

.home-me-img{
    max-width: 100%;
    height: auto;
    float: right;
    overflow: hidden;
    /* border-radius: 2rem; */
    /* display: flex; */
    /* transform: rotate(5deg);
    transition: var(--transition);
    box-shadow: 0 4px 8px 0 rgb(119,210,191,0.2), 0 5px 20px 5px rgb(119,210,191,0.2); */
}

/* .home-me-img:hover{
    transform: rotate(0);
} */

@media screen and (max-width: 600px) {
    .home-container{
        display: flex;
        flex-direction: column-reverse;
    }
    .home-me{
        margin: 0rem auto 5rem auto;
    }
    .home-me-img{
        width:200px;
    }
}

@media screen and (min-width: 1024px){
    .home-me{
        width: 50%;
    }
}