@font-face {
    font-family: 'Outline';
    src: url('../../assets/fonts/MADEOkineSansPERSONALUSE-BlackOutline.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

#home{
    padding-top: 60px;
    background-image: url('../../assets/bgImage.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
    position: relative;
}
.home-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 0;
}
.home-content{
    margin-top: auto;
    margin-bottom: auto;
    flex: 0 0 auto;
    width: 50%;
}
.home-content>h1{
    font-size: clamp(35px, 5vw, 50px);
    color: #fff;
    margin-bottom: 1.2rem;
}
.home-content>h3{
    color: #dcdbdb;
    margin-bottom: 0rem;
    font-weight: 500;
}
.home-content>p{
    color: white;
    margin-top: 1rem;
    font-size: 1rem;
}
.home-me{
    text-align: right;
    flex: 0 0 auto;
    width: 50%;
}

.home-me-img{
    max-width: 100%;
    height: auto;
    float: right;
    overflow: hidden;
}


@media screen and (max-width: 1200px) {
    .home-content>h1{
        font-size: clamp(35px, 3.5vw, 50px);
    }
    .home-content>h2{
        font-size: 20px;
    }
    .home-content>p{
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 850px) {
    .home-content>h1{
        font-size: clamp(30px, 4vw, 50px);
    }
    .home-content>h2{
        font-size: 16px;
    }
    .home-container{
        padding: 10px 30px;
    }
}
@media screen and (max-width:686px) {
    .home-container{
        flex-direction: column;
        padding-top: 90px;
    }
    .home-content,.home-me{
        width: 100%;
    }
    .home-me-img{
        width:60%;
        margin-right:20%
    }
}
