.header-social{
    display: flex;
    flex-direction: column;
    left: 4rem;
    bottom: 0;
    gap: 0.8rem;
    align-items: center;
    position: fixed;
}
.header-social::after { 
    content: '';
    width: 1px;
    height: 8rem;
    background: white;
}
.social-icon{
    font-size: 1.2rem;
}
@media screen and (max-width: 600px) {
    .header-social{
        display: none;
    }
}
@media screen and (max-width: 1200px) {
    .social-icon{
        font-size: 1rem;
    }
}