.contact-container{
    width: 55%;
    margin: 0 auto 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr;
    grid-template-areas: 
        "card1 card2 card3"
        "form form form";
}
.contact-card{
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem 1rem 0rem 1rem;
    text-align: center;
    transition: var(--transition);
    margin: 1.5rem;
}
.contact-card:hover{
    background: var(--color-bg-variant);
}
.card1{
    grid-area: card1;
}
.card2{
    grid-area: card2;
}
.card3{
    grid-area: card3;
}
.contact-icon{
    font-size: 1.75rem;
}
.contact-form {
    width: 92%;
    margin: 0 auto;
    grid-area: form;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "name message"
        "subject message"
        "phone message"
        "service service"
        "send send";
    background: var(--color-bg-variant);
    border-radius: 0.8rem;
    padding: 1rem 0.5rem;
}

#name{
    grid-area: name;
}
#subject{
    grid-area: subject;
}
#phone{
    grid-area: phone;
}
#message{
    grid-area: message;
}
#service{
    grid-area: service;
}
#send{
    grid-area: send;
    width: max-content;
    margin:0 auto;
    padding: 0.35rem 0.8rem;
    font-size: 1.3rem;
    font-family:inherit;
}
button.btn{
    background: transparent;
}

.form{
    margin-bottom: -0.5rem;
    padding: 1rem;
  }
  
label{
    color: var(--color-primary-var);
    display:flex;
    align-items: center;
    margin-bottom: 0.2rem;
    font-size: 1.3rem;
}
input[type=text],textarea{
    font-family:inherit;
    font-size: 1.15rem;
    line-height: inherit;
    padding: 1rem 0.5rem;
}
input[type=text]:focus {
    border: 1px solid #555;
  }
.textarea{
    width: 100%;
    height: 88%;
    resize: vertical;
    border:1px solid #ced4da;
    border-radius: 0.3rem;
    padding: 0.5rem;
}
.form-control{
    display: block;
    width:100%;
    height: 1.5rem;
    border:1px solid #ced4da;
    border-radius: 0.3rem;
    padding: 0.25rem 0.25rem;
    background-clip: padding-box;
}