#contact{
    padding-top: 4rem; 
    height:70vh; 
}
.contact-container {
    width: var(--container-width-sh);
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "card1 card2 card3";

}
.contact-card {
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 1.5rem 1rem 0rem 1rem;
    text-align: center;
    transition: var(--transition);
    margin: 1.2rem;
}
.contact-card:hover {
    background: var(--color-bg-variant);
}
.card1 {
    grid-area: card1;
}
.card2 {
    grid-area: card2;
}
.card3 {
    grid-area: card3;
}
.contact-icon {
    font-size: 1.75rem;
}

@media screen and (max-width:600px) {
    #contact{
        padding-top: 4rem;
        height: 82vh;
    }
    .contact-container {
        width: var(--container-width);
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;
    }
    .contact-card{
        background: var(--color-bg-variant);
        margin-bottom: 0rem;
    }
    .contact-card:hover {
        border: 1px solid transparent;
    }
    
}
