#contact {
    padding-top: 4rem;
    padding-bottom: 2rem;
    margin-top: 4rem;
    background-color: #F6F6F6;
    overflow: hidden;
}

.contact-head {
    color: var(--color-text-main);
    font-size: 2rem;
    text-align: center;
}

.contact-container {
    padding: 2rem;
}

.contact-cards {
    width: 80%;
    margin: 0rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "card1 card2 card3";
}

.contact-card {
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 1.5rem 0rem;
    text-align: center;
    transition: var(--transition);
    margin: 1.2rem;
    background: var(--color-primary);
}

.contact-card>p {
    color: white !important;
    margin-top: 1rem;
}

.contact-card:hover {
    background: transparent;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
}

.contact-card:hover>p {
    color: var(--color-primary) !important;
}

.card1 {
    grid-area: card1;
}

.card2 {
    grid-area: card2;
}

.card3 {
    grid-area: card3;
}

.contact-icon {
    font-size: 1.75rem;
}
.mobile-contact{
    display: none;
}
@media screen and (max-width:850px) {
    #contact .container {
        width: 100%;
    }
    .contact-cards{
        width: 100%;
    }
}
@media screen and (max-width:700px) {
    .contact-cards{
        display: none;
    }
    .mobile-contact{
        display: block;
        text-align: center;
        font-size: 0.95rem;
        margin-top: 1rem;
    }
    .mobile-contact>a{
        color: var(--color-text-main);
        
    }
}