.contact-form {
    width: 95%;
    margin: 0rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "name message" "email message" "subject message";
    padding-top: 2rem;
}
#name {
    grid-area: name;
}
#email {
    grid-area: email;
}
#subject {
    grid-area: subject;
}
#message {
    grid-area: message;
}
div>button{
    margin-left: 45%;
    margin-top:3rem;
}
button.btn {
    background: transparent;
    font-size: 1.5rem;
    font-family: inherit;
}
form>button.btn{
    margin-left: 10%;
    margin-bottom: 2rem;
}
.contact-form-icon {
    font-size: 1.5rem;
    transition:0.4s ease-in-out;
    margin-left: 95%;

}
.contact-form-icon:hover{
    transform: rotate(180deg);
    cursor: pointer;
}
.form {
    margin-top: 0;
    margin-bottom: 2.5rem;
    position: relative; 
    padding: 0 2rem;
}
.form-control {
    padding: 0.5rem 0.5rem;
    color: var(--color-text);
}
.form .form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    background: transparent;
    font-family: inherit;
    font-size: 1.15rem;
    line-height: inherit;
}
.form-control:focus {
    outline: none;
}
.form span {
    position: absolute;
    bottom: 0;
    width: 0px;
    height: 2.5px;
    background-color: var(--color-primary-var);
    transition: all 0.8s;
    left: 52%;
    transform: translateX(-50%);
}

.form-control:focus + span {
    width: 90%;
}
textarea {
    height: 100%;
    resize: vertical;
}
textarea:focus + span {
    width: 90%;
}
label {
    color: var(--color-secondary);
}
.form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.form .label {
    position: absolute;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    pointer-events: none;
}
.form .form-control:focus ~ label, .form .form-control:valid ~ label {
    margin-top: -25px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.contact-form-popup{
    position: absolute;
    top: 50%;
    left:50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-bg);
    box-shadow: 2px 2px 10px var(--color-primary-var) inset;
    border-radius: 1rem;
    padding:1rem;
    width: 40%;
    height: max-content;
    animation: fadeInAnimation ease 0.3s;
    
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
.contact-form-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(120, 120, 120, 0.5);
    z-index:100;
}

@media screen and (max-width:600px) {
    div>button{
        margin-left: 28%;
        margin-top:3rem;
    }
    form>button.btn{
        font-size: 1.2rem;
    }
    .contact-form-popup{
        width: 85%;
        height: max-content;
    }
    .contact-form{
        display: flex;
        flex-direction: column;
    }
}
