h1{
    color: var(--color-secondary);
    font-size: clamp(35px, 5vw, 60px);
}

p{
    color: var(--color-text);
    font-size: 1rem;
    margin-top: 1rem;
}
header{
    height: 100vh;
    overflow: hidden;
}
.header-container{
    display: flex;
    flex-direction: row;
    width: var(--container-width);
    margin: 10rem auto;
}
.header-content{
    margin-top: auto;
    margin-bottom: auto;
}
.header-me{
    margin-left: 2rem;
}

.header-me-img{
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(5deg);
    transition: var(--transition);
    box-shadow: 0 4px 8px 0 rgb(119,210,191,0.2), 0 5px 20px 5px rgb(119,210,191,0.2);
}

.header-me-img:hover{
    transform: rotate(0);
}

@media screen and (max-width: 600px) {
    .header-container{
        display: flex;
        flex-direction: column-reverse;
    }
    .header-me{
        margin: -3rem auto 2rem auto;
    }
    .header-me-img{
        width:200px;
    }
}

@media screen and (min-width: 1024px){
    .header-me{
        width: 50%;
    }
}