.fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.nav{
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 110px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}
.nav-fixed{
    padding: 0px;
    border-bottom: none;
    z-index: 9 !important;
    background: rgba(14, 68, 78, 0.85);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    height: 100px;
}

.nav-container{
    display: flex;
    justify-content: space-between;
}
.nav-logo{
    padding: 1rem 1rem;
}
.nav-logo .nav-text{
    font-weight: 800;
    font-size: 1.4rem;
    
}
.nav-log- .nav-under:after{
    content: none;
}
.nav-menus{
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 3rem;
}
.nav-text{
    padding-left: 0.4rem;
    letter-spacing: 0.12rem;
}
.nav-under{
    position:relative
}
.nav-under:after{
    content:"";
    position: absolute;
    background-color: var(--color-primary);
    width:0;
    height: 2px;
    left: 0;
    bottom:-8px;
    transition: 0.3s;
}
.nav-under:hover:after{
    width:100%
}
.nav-toggle{
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 1.7rem;
    color: var(--color-secondary);
    cursor: pointer;
}
.nav-ham{
    display: none;
    background: transparent;
    color: white;
}
.offcanvas-body{
    display: none;
    position:absolute;
    top: 90px;
    background: rgba(14, 68, 78, 0.85);
    width: 100%;
    left:0;
}
.offcanvas-body>ul{
    width: 80%;
    margin:10px auto;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 1px;
    border-radius: 5px;
    background: white;
}
.offcanvas-body .nav-text{
    color: var(--color-text-main);
    /* margin-bottom: 1rem; */
}
.offcanvas-body>ul>li{
    margin-bottom: 12px;
}

@media screen and (max-width:900px) {
    .nav-ham{
        display: block;
    }
    .nav-menus{
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .nav-logo{
        padding-left: 0rem;
    }
    .nav .nav-container{
        width: 100%;
    }
}